[Unit]
Description=LED Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u led.py
WorkingDirectory=/home/pi/raspberry/led
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
